body {
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    margin: 100px;
}

.half-width img {
    width: 75%;
}

.flexiable-container {
    display: flex;
    margin: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.middle-banner {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.text-align {
    text-align: center;
}

#text-weight {
    font-weight: 200;
}

.box-er-kaaj {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}

.nicher-box {
    width: 75%;

    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}


.new-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
}

#gray-color {
    color: gray;
}

.last-bg {
    background-color: rgb(39, 38, 38);
}

#last-font {
    color: rgba(172, 169, 169, 0.688);
    font-size: large;
    font-weight: 400;
}